@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Essa é minha primeira aplicação MVC construida só por mim, com uso de SQL Server e Entity Framework Core.</p>
    <img src="~/Img/Snivy.png" alt="Snivy Feliz"/>
</div>
